@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFF;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  padding: 20px;
  position: relative; /* Needed for absolute positioning of theme toggle */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.weather-box {
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px; /* Margin for weather box */
}

.weather-icon img {
  width: 100px;
}

.temperature-value {
  font-size: 50px;
  font-weight: 700;
}

.temperature-description {
  font-size: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 10px;
}

footer p {
  font-size: 14px;
  color: #999;
}

footer a {
  color: #007BFF; /* Change link color to blue in light mode */
  text-decoration: none; /* Remove underline from links */
}

footer a:hover {
  text-decoration: underline; /* Underline on hover */
}

.search-box {
  margin: 40px 0 20px; /* Add top margin to search box */
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-bar:focus {
  outline: none;
}

.theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute; /* Set to absolute for positioning */
  left: 20px; /* Move to far left with padding */
  margin-top: 5px; /* Adjust margin as needed */
  top: 20px; /* Move it higher up */
}

.theme-icon {
  width: 50px; /* Adjust size as needed */
  margin-right: 10px; /* Space between icon and text */
}

/* Dark mode styles */
body.dark {
  background-color: #333;
  color: #FFF;
}

body.dark .weather-box {
  background-color: #444;
}

body.dark .temperature-value {
  color: #FFF; /* Change temperature text color to white in dark mode */
}

body.dark footer p {
  color: #EEE; /* Change footer text color to light gray for better readability */
}

body.dark footer a {
  color: #1E90FF; /* Change link color to a brighter blue in dark mode */
}

body.dark footer a:hover {
  text-decoration: underline; /* Underline on hover for links */
}

/* Light mode styles */
body.light {
  background-color: #FFF;
  color: #333;
}

body.light .weather-box {
  background-color: #FFF;
}
