@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFF;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.weather-box {
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.weather-icon img {
  width: 100px;
}

.temperature-value {
  font-size: 50px;
  font-weight: 700;
  color: #333; /* Default color for light mode */
}

.temperature-description {
  font-size: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 10px;
}

footer p {
  font-size: 14px;
  color: #999;
}

.search-box {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-bar:focus {
  outline: none;
}

/* Light Theme (Default) */
body {
  background-color: #FFF;
  color: #333;
}

.weather-box {
  background-color: #FFF;
}

/* Dark Theme */
body.dark {
  background-color: #181818;
  color: #f5f5f5;
}

.weather-box.dark {
  background-color: #333;
}

.temperature-value.dark {
  color: #f5f5f5; /* Font color for temperature in dark mode */
}

/* Toggle Switch Styling */
.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px; /* Space between toggle and text */
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Positioning the icons */
.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  transition: opacity 0.4s ease;
}

.icon.sun {
  left: 8px;
  color: #FFD700; /* Gold color for the sun */
}

.icon.moon {
  right: 8px;
  color: #f5f5f5; /* Light color for the moon */
  opacity: 0; /* Hidden by default */
}

input:checked + .slider .icon.sun {
  opacity: 0; /* Hide sun in dark mode */
}

input:checked + .slider .icon.moon {
  opacity: 1; /* Show moon in dark mode */
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
